<!-- <div id="page3">
  <div id="page3-body">
    <div id="page3-part1">
      <div id="page3-part1-programs" class="page3-part1-container">
        <div id="page3-part1-title" class="page3-part1-title">
          <h1>Be a <span class="page3-part1-highlight">Nitjian</span></h1>
          <span class="page3-part1-icon" id="page3-part1-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              height="40"
              viewBox="0 -960 960 960"
              width="40"
            >
              <path
                d="M480-480Zm.199 406.696q-84.439 0-158.475-31.959-74.037-31.958-129.27-87.191-55.233-55.233-87.191-129.248-31.959-74.015-31.959-158.453 0-84.439 32.025-158.632 32.025-74.193 87.018-129.101 54.994-54.908 129.338-86.937 74.343-32.03 158.315-32.03 43.509 0 84.095 9.043 40.586 9.044 78.028 25.377v83.753q-36.203-20.137-76.8-31.199-40.598-11.061-85.136-11.061-137.769 0-234.449 96.341-96.68 96.342-96.68 234.249 0 137.908 96.731 234.601 96.731 96.693 234.453 96.693t234.211-96.579Q810.942-342.216 810.942-480q0-32.517-6.061-63.172-6.062-30.654-17.678-58.951h80.341q9.376 29.495 14.344 59.523 4.967 30.027 4.967 62.6 0 83.972-32.03 158.315-32.029 74.344-86.937 129.338-54.908 54.993-129.079 87.018t-158.61 32.025Zm321.924-599.203v-89.616h-89.616v-75.754h89.616v-89.775h75.754v89.775h89.775v75.754h-89.775v89.616h-75.754Z"
              ></path>
            </svg>
          </span>
        </div>

        <div class="page3-part1-program-list">
          <a
            href="/admissions/index.html#btech"
            class="page3-part1-program-card"
          >
            <div>
              <p class="page3-part1-program-title">B.Tech, B.Sc.-B.Ed.</p>
              <p class="page3-part1-program-subtitle">Undergraduate Program</p>
            </div>
          </a>

          <a
            href="/admissions/index.html#mtech"
            class="page3-part1-program-card"
          >
            <div>
              <p class="page3-part1-program-title">M.Tech</p>
              <p class="page3-part1-program-subtitle">Postgraduate Program</p>
            </div>
          </a>

          <a href="/admissions/index.html#msc" class="page3-part1-program-card">
            <div>
              <p class="page3-part1-program-title">M.Sc, MBA</p>
              <p class="page3-part1-program-subtitle">Postgraduate Program</p>
            </div>
          </a>

          <a href="/admissions/index.html#phd" class="page3-part1-program-card">
            <div>
              <p class="page3-part1-program-title">Ph.D</p>
              <p class="page3-part1-program-subtitle">Doctorate Program</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="page3-part2">
      <div class="page3-part2-container">
        Title Section
        <div id="page3-part2-title" class="page3-part2-title-section">
          <h1>
            <span class="page3-part2-highlight">Announcements & Notices</span>
          </h1>
        </div>

        Navigation Tabs
        <div class="page3-part2-tabs">
          <button class="page3-part2-tab-btn active" data-tab="upcomingEvent">
            Upcoming Events
          </button>
          <button class="page3-part2-tab-btn" data-tab="notice">
            Student's Corner
          </button>
          <button class="page3-part2-tab-btn" data-tab="tender">Tenders</button>
          <button class="page3-part2-tab-btn" data-tab="scholarship">
            Scholarships
          </button>
        </div>


        Notices Content
        <div id="page3-part2-notice-container" class="page3-part2-notice-container">
          <ul id="page3-part2-updates">
            Upcoming Events
            <li class="notice-section" id="upcomingEvent">
              <h2>Upcoming Events</h2>
              <ul>
                <% upcomingEvents.forEach(event => { %>
                  <li><a href="<%= event.link %>" target="_blank"><%= event.title %></a> - <%= event.date %></li>
                <% }) %>
              </ul>
            </li>

            Student's Corner
            <li class="notice-section" id="notice">
              <h2>Student's Corner</h2>
              <ul>
                <% studentCorner.forEach(notice => { %>
                  <li><a href="<%= notice.link %>" target="_blank"><%= notice.title %></a></li>
                <% }) %>
              </ul>
            </li>

            Tenders
            <li class="notice-section" id="tender">
              <h2>Tenders</h2>
              <ul>
                <% tenders.forEach(tender => { %>
                  <li><a href="<%= tender.link %>" target="_blank"><%= tender.title %></a> - <%= tender.deadline %></li>
                <% }) %>
              </ul>
            </li>

            Scholarships
            <li class="notice-section" id="scholarship">
              <h2>Scholarships</h2>
              <ul>
                <% scholarships.forEach(scholarship => { %>
                  <li><a href="<%= scholarship.link %>" target="_blank"><%= scholarship.title %></a></li>
                <% }) %>
              </ul>
            </li>
          </ul>
        </div>

        View All Link
        <div class="page3-part2-view-all">
          <a id="page3-part2-view-all" href="#">View All →</a>
        </div>
      </div>
    </div>
  </div>
</div> -->



<div id="page3">
  <div id="page3-body">
    <div id="page3-part1">
      <div id="page3-part1-programs" class="page3-part1-container">
        <div id="page3-part1-title" class="page3-part1-title">
          <h1>Be a <span class="page3-part1-highlight">IIItian</span></h1>
          <span class="page3-part1-icon" id="page3-part1-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              height="40"
              viewBox="0 -960 960 960"
              width="40"
            >
              <path
                d="M480-480Zm.199 406.696q-84.439 0-158.475-31.959-74.037-31.958-129.27-87.191-55.233-55.233-87.191-129.248-31.959-74.015-31.959-158.453 0-84.439 32.025-158.632 32.025-74.193 87.018-129.101 54.994-54.908 129.338-86.937 74.343-32.03 158.315-32.03 43.509 0 84.095 9.043 40.586 9.044 78.028 25.377v83.753q-36.203-20.137-76.8-31.199-40.598-11.061-85.136-11.061-137.769 0-234.449 96.341-96.68 96.342-96.68 234.249 0 137.908 96.731 234.601 96.731 96.693 234.453 96.693t234.211-96.579Q810.942-342.216 810.942-480q0-32.517-6.061-63.172-6.062-30.654-17.678-58.951h80.341q9.376 29.495 14.344 59.523 4.967 30.027 4.967 62.6 0 83.972-32.03 158.315-32.029 74.344-86.937 129.338-54.908 54.993-129.079 87.018t-158.61 32.025Zm321.924-599.203v-89.616h-89.616v-75.754h89.616v-89.775h75.754v89.775h89.775v75.754h-89.775v89.616h-75.754Z"
              ></path>
            </svg>
          </span>
        </div>

        <div class="page3-part1-program-list" >
          <a
            href="#"
            class="page3-part1-program-card"
          >
            <div>
              <p class="page3-part1-program-title">B.Tech</p>
              <p class="page3-part1-program-subtitle">Undergraduate Program</p>
            </div>
          </a>

          <a
            href="#"
            class="page3-part1-program-card"
          >
            <div>
              <p class="page3-part1-program-title">M.Tech</p>
              <p class="page3-part1-program-subtitle">Postgraduate Program</p>
            </div>
          </a>

          <a href="#" class="page3-part1-program-card">
            <div>
              <p class="page3-part1-program-title">PhD</p>
              <p class="page3-part1-program-subtitle">Postgraduate Program</p>
            </div>
          </a>

          <a href="#" class="page3-part1-program-card">
            <div>
              <p class="page3-part1-program-title">Doctoral Programme</p>
              <p class="page3-part1-program-subtitle">Doctorate Program</p>
            </div>
          </a>
        </div>
      </div>
    </div>
      <div id="page3-part2">
        <div class="page3-part2-container">
            <!-- Title Section -->
            <div id="page3-part2-title" class="page3-part2-title-section">
              <h1><span class="page3-part2-highlight">Announcements & </span>Notices</h1>
            </div>
      
            <!-- Navigation Tabs -->
            <div class="page3-part2-tabs">
              <button class="page3-part2-tab-btn active" data-tab="upcomingEvent">
                Upcoming Events
              </button>
              <button class="page3-part2-tab-btn" data-tab="notice">Student's Corner</button>
              <button class="page3-part2-tab-btn" data-tab="tender">Tenders</button>
              <button class="page3-part2-tab-btn" data-tab="scholarship">Scholarships</button>
            </div>
      
            <!-- Notices Content -->
            <div id="page3-part2-notice-container" class="page3-part2-notice-container">
              <ul id="page3-part2-updates"></ul>
            </div>
      
            <!-- View All Link -->
            <div class="page3-part2-view-all">
              <a id="page3-part2-view-all" href="#">View All →</a>
            </div>
          </div>
      </div>
  </div>
</div>